//colors
$color0:#f3f7fa;
$color1:#030303;
$color2:#e5e2e4;
$color3:#ffffcc;
$color4:#1a1919;
$color5:#000000;
$color6:rgb(54, 52, 54);
$color7:rgba(16, 15, 19, 0.616);
$white:#FFFFFF;
$color8:rgba(58, 57, 59, 0.384);

//fonts
$font0:arial;


//urls
$url0: url(../images/div1.jpg);

